/*credits.css → CSS de credits.html*/

/*Polices d'écritures*/
@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url(fonts/BebasNeue-Regular.otf)
}
  
@font-face {
    font-family: 'Kanit', sans-serif;
    src: url(fonts/Kanit-Regular.ttf)
}

/*Paramètres généraux*/
body {
    background:url(../imgs/BG-DS\ V2.png) no-repeat;
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
  }